.NavbarItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    color: #a7a7a7;
}
.NavbarItem:hover{
    color: black;
}

.active {
    color: black;
}

.NavbarItem > p {
    text-align: center;
    display: flex;
    align-items: center;
}
.NavbarItem > p > span {
    margin-left: 10px;
}